


<div onclick="goDetails(  '{{product.url}}' )" class="card item-food card position-relative">
    <img class="card-img-top" src="{{product.images.first | img_url : "master" }}" width="400" height="350" alt="{{product.title}}">
    <div class="tag-price">{{product.price | money}}</div>
    <div class="card-footer  p-0 d-flex justify-content-between">
      <span class="name-plate">{{product.title}}</span>
      <a href="#" role="button" class="btn-primary-small"><i class="bx bx-tada-hover bx-cart"></i></a>
    </div>
    <p class="d-none description">{{product.description}}</p>
</div>


<script>
    function goDetails(url) {
        window.location.href = url;
    }
</script>


{% style %}

{% if width %}
.item-food {
    width: {{width}}px;
}
{% else %}
.item-food {
    min-width: 300px;
}
{% endif %}


{% if height %}
    .item-food {
        height: {{height}}px;     
    }
    .item-food .card-img-top {
        min-height: calc({{height}}px - 40px);
        max-height: calc({{height}}px - 40px);
    }         
    {% else %}
    .item-food {
        height: 300px;     
    }
    .item-food .card-img-top {
        min-height: 260px;
        max-height: 260px;
    } 
{% endif %}

{% endstyle %}