


<div id="product-{{product.id}}" onclick="window.location.href='asdasdad'; " class="card item-food card position-relative">
  
  {% if product.compare_at_price > product.price and product.available %}
  <div class="sale">SALE</div>
  {% endif %}
    <img class="card-img-top" src="{{product.images.first | img_url : "master" }}" width="400" height="350" alt="{{product.title}}">
    <div class="tag-price">{{product.price | money}}</div>
    <div class="card-footer  p-0 d-flex justify-content-between">
      <div class="name-plate">{{product.title}}</div>
      <a href="{{routes.cart_add_url}}?id={{ product.variants.first.id }}&quantity=1" role="button" class="btn-primary-small"><i class="bx bx-tada-hover bx-cart"></i></a>
    </div>
    <p class="d-none description">{{product.description}}</p>
    <style>
      #product-{{product.id}} {
      	    /*max-width: 350px;*/
      }
        {% if width %}
        #product-{{product.id}} {
            width: {{width}}px;
        }
        {% else %}
        #product-{{product.id}} {
           /*  min-width: 300px; */
        }
        {% endif %}
        
        
        {% if height %}
            #product-{{product.id}} {
                height: {{height}}px;     
            }
            #product-{{product.id}} .card-img-top {
                min-height: calc({{height}}px - 40px);
                max-height: calc({{height}}px - 40px);
            }         
            {% else %}
            #product-{{product.id}} {
                height: 300px;     
            }
            #product-{{product.id}} .card-img-top {
                min-height: 260px;
                max-height: 260px;
            } 
        {% endif %}
        
      
      
        </style>
</div>





