

<div onclick="goDetails(  '{{product.url}}' )" class="card item-food card position-relative">
    <img class="card-img-top" src="{{product.images.first | img_url : "master" }}" width="400" height="350" alt="{{product.title}}">
    <div class="tag-price">{{product.price | money}}</div>
    <div class="card-footer  p-0 d-flex justify-content-between">
      <span class="name-plate">{{product.title}}</span>
      <a href="#" role="button" class="btn-primary-small"><i class="bx bx-tada-hover bx-cart"></i></a>
    </div>
    <p class="d-none description">{{product.description}}</p>
</div>


<script>
    function goDetails(url) {
        window.location.href = url;
    }
</script>


{% style %}
    
    .item-food {
    border-radius: 0px;
    border: none;
    }

    .item-food .name-plate {
    font-family: "Kanit", sans-serif;
    font-size: 0.6em;
    font-style: normal;
    font-weight: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    color: black;
    }

    @media (max-width: 767px) {
    .item-food .name-plate {
        font-size: 0.7em;
    }
    }

    .item-food .card-footer {
    background: transparent;
    border: none !important;
    }

    .item-food .card-footer .btn-primary-small {
    width: 20%;
    }

{% endstyle %}