
<div class="pb-5 px-sm-5 px-3 container-fluid ">

    <div class="row justify-content-center">
      <h1 class="title-section text-center px-4 w-100">{{ collection.title }}</h1>
    </div>
    <div id="category-{{ collection.id }}" class="owl-carousel owl-theme">
        {% for product in collection %}        
        <div class="card item-food card position-relative">
            <img class="card-img-top" src="{{product.images.first | img_url : "master" }}" alt="{{product.title}}">
            <div class="tag-price">{{product.price | money }}</div>
            <div class="card-footer  p-0 d-flex justify-content-between">
            <span class="name-plate">{{product.title}}</span>
            <a href="{{routes.cart_add_url}}?id={{ product.variants.first.id }}&quantity=1" role="button" class="btn-primary-small"><i class="bx bx-tada-hover bx-cart"></i></a>
            </div>
        </div>

        {% javascript %}
            $("#category-{{collection.id}} .owl-carousel").owlCarousel({
            loop: true,
            nav: false,
            margin: 150,
            items: 1,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            center: true,
            responsive: {
            500: {
                center: false,
                items: 2,
                margin: 50
            },
            860: {
                items: 3,
                margin: 50
            }
            }
        })
        {% endjavascript %}
        {% endfor %}    
    </div>

</div>

{% style %}
    .menu-food-sub .title-section {
        padding-bottom: 50px;
        padding-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
    }

    .menu-food-sub .title-section:before {
        content: "";
        background: var(--primary);
        width: 80%;
        height: 2px;
        position: absolute;
        width: 20%;
        bottom: 35px;
    }

    @media (max-width: 575px) {
    .menu-food-sub .title-section:before {
        display: none;
    }
    }
{% endstyle %}