

<div href="{{product.url}}" class="card item-food card position-relative">
    <img class="card-img-top" src="{{product.images.first | img_url : "master" }}" width="400" height="350" alt="{{product.title}}">
    <div class="tag-price">{{product.price | money}}</div>
    <div class="card-footer  p-0 d-flex justify-content-between">
      <span class="name-plate">{{product.title}}</span>
      <a href="#" role="button" class="btn-primary-small"><i class="bx bx-tada-hover bx-cart"></i></a>
    </div>
    <p class="d-none description">{{product.description}}</p>
</div>