{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}
.section-{{ section.id }} {
  background-color: {{ section.settings.background-color }};
  height:auto;
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}

.testimonials .col-md-6 {
  padding: 0 5%;
}

.testimonials .grid-carousel {
  width: 350px;
}

@media (max-width: 767px) {
  .testimonials .grid-carousel {
    width: 360px;
  }
}

@media screen and (max-width: 390px) {
  .testimonials .grid-carousel {
    width: 250px;
  }
}

.testimonials .title-section {
  position: relative;
}

.testimonials .title-section:before {
  content: "";
  background: #FF9900;
  width: 80%;
  height: 2px;
  position: absolute;
  width: 60%;
  left: -45%;
  bottom: 22px;
}

@media (max-width: 575px) {
  .testimonials .title-section:before {
    display: none;
  }
}

.testimonials .btn-primary {
  margin-top: 50px;
}

.testimonials p {
  padding-bottom: 30px;
}

.testimonials .btn-primary {
  margin-left: 20%;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .testimonials .btn-primary {
    margin-left: 0;
  }
}

.testimonials p, .testimonials h1, .testimonials h2 {
  padding-left: 20%;
}

@media (max-width: 767px) {
  .testimonials p, .testimonials h1, .testimonials h2 {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 575px) {
  .testimonials p, .testimonials h1, .testimonials h2 {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.testimonials .item-test {
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
}

@media (max-width: 767px) {
  .testimonials .item-test {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 390px) {
  .testimonials .item-test {
    margin-left: 0;
  }
  .testimonials .item-test .name {
    display: none !important;
  }
  .testimonials .item-test .video-container {
    margin-right: 0px;
  }
}

.testimonials .item-test .name {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#383838));
  background: linear-gradient(180deg, #000000 0%, #383838 100%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95%;
  position: absolute;
  left: -62px;
  top: 0;
  width: 50px;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 900;
}

.testimonials .item-test .video-container {
  width: 265px;
  height: 100%;
  background-color: #D88100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .item-test .video-container .video-testimonial {
  width: 100%;
  height: 97%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  margin-left: -15px;
}
{%- endstyle -%}

  <section class="testimonials my-section container-fluid section-{{ section.id }}-padding section-{{ section.id }}">
    <div class="row">
        <div class="col-12 col-md-6 m-0 p-0">
            <h1 class="w-100 title-section">{{section.settings.title-section}}</h1>
            <h2 class="title">{{section.settings.subtitle-section}}</h2>
            <p>
               {{ section.settings.description }}
            </p>

            {% if section.settings.button_text and section.settings.button_url %}
            <div class="d-none d-md-flex justify-content-start">
                <a href="{{section.settings.button_url}}" class="btn-primary">
                    {{ section.settings.button_text }}
                </a>
            </div>
            {% endif %}
        </div>

        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
            <div class="grid-carousel">
                <div class="owl-carousel owl-theme">

                   {% for block in section.blocks %}
                    {% if block.type == 'testimonial' %}
                        <div class="item-test">
                            <div class="video-container position-relative">
                                <div class="name">{{ block.settings.name }}</div>
                                <video class="video-testimonial" src=" {{ block.settings.video_url }}"></video>
                                <button class="playBtn"></button>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <?php $button_action_5 = get_field( 'button_action_5', "576" ); ?>
    <?php if ( $button_action_5 ) : ?>
    <div class="d-flex d-md-none justify-content-center">
        <a href="<?php echo esc_url( $button_action_5['url'] ); ?>"
            target="<?php echo esc_attr( $button_action_5['target'] ); ?>" class="btn-primary">
            <?php echo esc_html( $button_action_5['title'] ); ?>
        </a>
    </div>
    <?php endif; ?>
  </section>
{% schema %}
{
  "name": "Custom Testimonials",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "text",
        "id": "title-section",
        "label": "Title Section",
        "default": "Testimonials"
    },
    {
        "type": "text",
        "id": "subtitle-section",
        "label": "Subtitle Section",
        "default": "What do our customers say"
    },
    {
      "type": "header",
      "content": "Custom Colors"
    },
    {
        "id": "background-color",
        "type": "color",
        "label": "Background Color"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
        "type": "header",
        "content": "Button action"
    },
    {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "VIEW MORE"
    },
    {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
    }
  ],
  "blocks":[
    {
        "type": "testimonials",
        "id": "testimonials",
        "label": "Testimonials",
        "settings":[
            {
                "type": "url",
                "id": "video_url",
                "label": "Video URL"
            },
            {
                "type": "text",
                "id": "name",
                "label": "Name"
            }
        ] 
    }
  ],
  "presets": [
    {
      "name": "Custom Testimonials"
    }
  ]
}
{% endschema %}
