{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}
.section-{{ section.id }} {
  background-color: {{ section.settings.background-color }};
  height:auto;
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}

  <section class="my-section menu-food container-fluid h-auto section-{{ section.id }}-padding section-{{ section.id }}">
    <div class="row justify-content-center">
      <h1 class="title-section text-center px-4 w-100">{{section.settings.title-section}}</h1>
      <h2 class="title px-5">{{section.settings.subtitle-section}}</h2>
  </div>
  <div class="px-5 pb-3 row justify-content-center" style=" min-height: 750px;">
    
    
    {% assign col = "12" %} 

    {% for block in section.blocks %}
      {% if block.type == "category" %}
        {% if forloop.index == 1 %}
          {% assign col = "5" %}
        {% elsif forloop.index == 2 %}
          {% assign col = "7" %}
        {% elsif forloop.index == 3 %}
          {% assign col = "5" %}
        {% elsif forloop.index == 4 %}
          {% assign col = "3" %}
        {% elsif forloop.index == 5 %}
          {% assign col = "4" %}
        {% endif %}
        
        
          {% assign url_coll = routes.root_url | append : "/pages/menu?id_collection=" | append : block.settings.collection.id %}
      
          <div class="col-md-{{col}} p-2">
            <a href="{{url_coll}}" class=" banner-image ">

              {% if block.settings.collection.image %}
                <div class="image" style="background-image:url('{{block.settings.collection.image | img_url : "master"}}');"></div>
              {% endif %}
                <div class="tag-banner">{{block.settings.collection.title}}</div>
            </a>
          </div>
       
          
      {% endif %}
    {% endfor %}
  


   

  </div>
</section>
<!--FOOD -->

{% schema %}
{
  "name": "Custom Menu",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title-section",
      "label": "Title Section",
      "default": "Menu"
    },
    {
      "type": "text",
      "id": "subtitle-section",
      "label": "Subtitle Section",
      "default": "Meet all our dishes"
    },

    {
      "type": "header",
      "content": "Custom Colors"
    },
    {
        "id": "background-color",
        "type": "color",
        "label": "Background Color"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks":[
    {
      "type": "category",
      "name": "Category",
      "limit": 5,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select a Collection with Image "
        }
      ]
    }   
  ],
  "presets": [
    {
      "name": "Custom Menu"
    }
  ]
}
{% endschema %}
