{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}
.section-{{ section.id }} {
  background-color: {{ section.settings.background-color }};
  height:auto;
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}

  <section class="contactUs my-section section-{{ section.id }}-padding section-{{ section.id }}">
    <div class="container contact-form">

        <h2 class=" pb-3 pt-2 text-center  pb-5 title-section">{{section.settings.title-section}}</h2>
        {% if section.settings.subtitle-section %}
        <h2 class=" pb-3 pt-2 text-center  pb-5 title-section">{{section.settings.subtitle-section}}</h2>
        {% endif %}
        <div class="row mb-5 align-items-center p-3">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0"
              src="{{section.settings.embed_map}}"
              style="border:0; width: 100%; height: 384px;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="col-lg-6 form-col p-5 ">
            <form method="post" role="form" class=" email-form">
              <div class="row ">
                <h2 class="title text-center w-100">{{ section.settings.form_title }}</h2>
              </div>
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="input-primary form-control" id="name" placeholder="Your Name"
                    required="">
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control input-primary name=" email" id="email"
                    placeholder="Your Email" required="">
                </div>
              </div>
              <div class="form-group">
                <select class="input-primary form-control" name="subject" id="subject">
                  <option>Feedback</option>
                  <option>Claim</option>
                  <option>Another reason</option>
                </select>
              </div>
              <div class="form-group">
                <textarea class=" input-primary form-control" name="message" rows="5" placeholder="Message"
                  required=""></textarea>
              </div>
              <div class="d-flex justify-content-center align-items-end"><button class="btn-primary" type="submit">SEND
                  MESSAGE</button></div>
            </form>
          </div>

        </div>

        <div class="row mb-5">
          <div class="col-lg-6 ">
            <div class="info-box flex-column border-menu d-flex flex-wrap align-items-center mb-4">

              <h3 class="d-flex align-items-center text-primary-normal justify-content-center"> <i
                  class="pr-2 bx bxs-map"></i>Address
              </h3>
              <p class="m-0 p-0"> <a class="text-primary-normal color-secondary hover_a" target="_blank"
                  href="https://www.google.com/maps">
                  5191 Eastside Hwy Stevensville, MT 59870
                </a></p>
            </div>
          </div>

          <div class="col-lg-3  col-md-6">
            <div class="info-box border-menu flex-column d-flex flex-wrap align-items-center mb-4">

              <h3 class="d-flex align-items-center text-primary-normal"><i class="pr-2 bx bxs-envelope "></i>Email Us
              </h3>
              <p class="mb-0 pb-0"> <a class="text-primary-normal color-secondary hover_a" target="_blank"
                  href="mailto:info@glamping.global">
                  info@glamping.global
                </a> </p>
            </div>
          </div>

          <div class="col-lg-3  col-md-6">
            <div class="info-box flex-column border-menu d-flex flex-wrap align-items-center mb-4">

              <h3 class="d-flex align-items-center text-primary-normal"> <i class="pr-2 bx bxs-phone "></i>Call Us
              </h3>
              <p class="mb-0 pb-0"><a class="text-primary-normal color-secondary hover_a" target="_blank"
                  href="tel:1844WEGLAMP">
                  Tel: 1-844-WEGLAMP
                </a></p>
            </div>
          </div>

        </div>
      </div>
  </section>




{% schema %}
{
  "name": "Custom Contact Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "text",
        "id": "title-section",
        "label": "Title Section",
        "default": "Contact Us"
      },
      {
        "type": "text",
        "id": "subtitle-section",
        "label": "Subtitle Section"
      },
      {
        "type": "text",
        "id": "form_title",
        "label": "Form Title",
        "default": "Get In Touch"
        },
      {
        "type": "url",
        "id": "embed_map",
        "label": "Map Embed Url"
      },  
    {
      "type": "header",
      "content": "Custom Colors"
    },
    {
        "id": "background-color",
        "type": "color",
        "label": "Background Color"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks":[
      {
        "type": "email",
        "name": "Info Box",
        "limit": 1,
        "settings":[
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "Heading"
            },
            {
                "type": "text",
                "id": "label",
                "label": "Label",
                "default": "Label"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Link Url"
            }         
        ]
    }
  ],
  "presets": [
    {
      "name": "Custom Contact Section"
    }
  ]
}
{% endschema %}
