{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}
.section-{{ section.id }} {
  background-color: {{ section.settings.background-color }};
  height:auto;
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}


.best-sellers {
  height: auto;
}

.best-sellers .owl-carousel {
  position: relative;
}

.best-sellers .owl-carousel .owl-dots {
  position: absolute;
  right: 0;
  bottom: -50px;
}

.best-sellers .title-section {
  position: relative;
}

.best-sellers .title-section:before {
  content: "";
  background: #FF9900;
  width: 80%;
  height: 2px;
  position: absolute;
  width: 41%;
  left: -45%;
  bottom: 20px;
}

@media (max-width: 575px) {
  .best-sellers .title-section:before {
    display: none;
  }
}

.best-sellers .btn-primary {
  max-width: 254px;
  margin-top: 50px;
}

.best-sellers .description {
  padding-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  word-wrap: break-word;
  padding-right: 15%;
}

@media (max-width: 767px) {
  .best-sellers .description {
    padding-right: 0;
  }
}

.best-sellers .col-text {
  padding-left: 8% !important;
  min-width: 390px;
}

.best-sellers .col-carousel {
  padding-right: 5% !important;
}

@media screen and (max-width: 989px) {
  .best-sellers .col-carousel {
    padding-right: 10% !important;
    padding-left: 5% !important;
  }
}

@media (max-width: 767px) {
  .best-sellers .col-carousel {
    padding-right: 8% !important;
    padding-left: 8% !important;
  }
}

.best-sellers .col-carousel .btn-primary-small {
  color: white !important;
  margin-right: 1px;
  pointer-events: none;
}

.best-sellers .col-carousel .btn-primary-small i {
  pointer-events: all;
}

@media (max-width: 767px) {
  .best-sellers .col-text {
    padding-left: 8% !important;
    padding-right: 8% !important;
  }
}

@media (max-width: 575px) {
  .best-sellers .col-text {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .best-sellers .col-carousel {
    padding-right: 5% !important;
    padding-left: 5% !important;
  }
}

.best-sellers .tag-price {
  position: absolute;
  top: 15px;
  left: 0;
  height: 35px;
  padding: 8px 30px;
  background: #FF9900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  color: white;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: inherit;
  -webkit-box-shadow: 4px 6px 45px -14px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 6px 45px -14px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 860px) {
  .best-sellers .col-text {
    padding-left: 40px;
    min-width: 250px;
  }
}

{%- endstyle -%}

  <section class="best-sellers mysection section-{{ section.id }}-padding section-{{ section.id }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-text col-12 col-md-6">
                <h1 class="title-section">{{section.settings.title-section}}</h1>
                <h2 class="title">{{section.settings.subtitle-section}}</h2>
                <p class="description">
                    {{section.settings.description}}
                </p>
                {% for block in section.blocks %}
                    {% if block.settings.button_label != blank and block.settings.button_link != blank %}
             
                        <a href="{{  block.settings.button_link }}" role="button"
                        class="btn-primary d-none d-md-flex">{{ block.settings.button_label }}</a>
                        
                    {% endif %}
                {% endfor %}
           

     
            </div>
            <div
                class="col-12 col-md-6 d-flex justify-content-md-end justify-content-center  align-items-center col-carousel">
                <div class="owl-carousel owl-theme justify-content-md-around justify-content-center d-flex">
                    {% for block in section.blocks %}
                        {% if block.type == "best_product" %}
                           
                                <div class="item-food card position-relative">
                            
                                    <img class="card-img-top" src="{{ block.settings.best_product.images.first.url | img_url : "master" }}" alt="{{ block.settings.best_product.title }}">"
                                        
                                    <div class="tag-price">{{ block.settings.best_product.price | money }} </div>
                                    <div class="card-footer  p-0 d-flex justify-content-between">
                                        <span class="name-plate"> {{ block.settings.best_product.title }}</span>
                                        <a href="{{routes.cart_add_url}}?id={{ block.settings.product.variants.first.id }}&quantity=1" role="button" class="btn-primary-small"><i
                                                class="bx bx-tada-hover bx-cart"></i></a>
                                    </div>
                                </div>
                   
                        {% endif %}
                    {% endfor %}
    
                </div>
            </div>
            {% for block in section.blocks %}
                {% if block.settings.button_label != blank and block.settings.button_link != blank %}
         
                    <a href="" role="button"
                    class="btn-primary d-none d-md-flex"></a>

                    <div class="col-12 d-flex d-md-none justify-content-center mt-4">
                        <a href="
                            href="{{ block.settings.button_link }}" role="button"
                            class="btn-primary">{{ block.settings.button_label }}</a>
                    </div>
                {% endif %}
            {% endfor %}
            
           
        </div>
    </div>
  </section>

{% javascript %}
$(document).ready(function () {
     $('.best-sellers .owl-carousel').owlCarousel({
        loop: true,
        nav: false,
        margin: 50,
        items: 2,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            476: {
                items: 2
            },
            768: {
                items: 1
            },
            990: {
                items: 2
            }
        }
    })
});
{% endjavascript %}

{% schema %}
{
  "name": "Custom Best Sellers",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "header",
        "content": "Best Sellers Config"
    },
    {
        "type": "text",
        "id": "title-section",
        "label": "Title Section",
        "default": "Best Sellers"
    },
    {
        "type": "text",
        "id": "subtitle-section",
        "label": "Subtitle Section",
        "default": "Our Best Dishes"
    },
    {
        "type": "richtext",
        "id": "description-section",
        "label": "Description Section",
        "default": "In our menu you will find the best dishes in the whole city, dishes made with fresh ingredients and excellent quality, and selected with great care to offer you unique dishes, so that you live with us a unique experience."
    },
    {
      "type": "header",
      "content": "Custom Colors"
    },
    {
        "id": "background-color",
        "type": "color",
        "label": "Background Color"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks":[
    {
        "type": "button",
        "name": "button",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "button_label",
                "default": "Button label",
                "label": "Button text"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button_link"
            }
        ]
    },
    {
        "type": "best_product",
        "name": "Best Item",
        "settings": [
            {
                "type": "product",
                "id": "best_product",
                "label": "Select Product"
            }
        ]
    }
  ],
  "presets": [
    {
      "name": "Custom Best Sellers"
    }
  ]
}
{% endschema %}
