{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}
.section-{{ section.id }} {
  background: {{ section.settings.background-color }};
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}

.hero {
    height: 50vh;
  }
  
  .hero .video-background {
    min-height: 600px;
  }
  
  .hero .hero-action {
    width: 100%;
  }
  
  .hero .hero-action h1 {
    font-size: 1.4em !important;
    text-align: center;
  }
  
{%- endstyle -%}
  

{% schema %}
{
    "name": "Custom Subpage Hero",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "Section Settings"
        },  
        {
            "id": "video-hero",
            "type": "url",
            "label": "Video Hero"
        },
        {
            "id": "banner-text",
            "type": "text",
            "label": "Banner Text",
            "default": "DELICIOUS FOOD"
        }
    ],
    "blocks": [
        {
            "type": "item_social", 
			"name": "Social Item",
            "limit": 5,
            "settings": [
                {
                    "type": "text",
                    "id": "social_label",
                    "default": "Facebook",
                    "label": "Red Social"
                },
                {
                    "type": "url",
                    "id": "social_link",
                    "label": "Social Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom Subpage Hero"
        }
    ]
}
{% endschema %}
  <section class="my-section hero section-{{ section.id }}-padding section-{{ section.id }}">
    
        <video autoplay="autoplay" class="video-background" loop="loop" muted playsinline="playsinline"
            src="{{ section.settings.video-hero }}"></video>
        <div class="hero-action">
            <div class="text">
                <h1 class="first-text">
                  
                  {% if template.name == "search" %}
                  	Search
                  {% else %}
                  {{ page_title }}
                  {% endif %}
              
                  <!-- BREADCUMBS  -->
                  <nav aria-label="breadcrumb w-100 ">
                  <ol class="breadcrumb bg-transparent text-primary-normal ">
                      <li class="breadcrumb-item"><a href="{{routes.root}}">Home</a></li>
                      <li class="breadcrumb-item active color-primary" aria-current="page">
                          {{ page_title }}
                  </ol>
            	</nav>
                  
                  
                  
                  
                  <!-- BREADCUMBS END -->
                  
                  
              </h1>
            </div>
        </div>
    
        <div class="social-bar">
            <h2 class="large-text">{{ section.settings.banner-text }}</h2>
            
            <ul>
                {% for block in section.blocks %}
                    {% if block.type == "item_social" %}
                <li><a target="_blank"
                        href="{{block.settings.social_link}}">{{ block.settings.social_label }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
       
        </div>      
  </section>
