{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}
.section-{{ section.id }} {
  background: {{ section.settings.background-color }};
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}

.hero {
    height: 50vh;
  }
  
  .hero .video-background {
    min-height: 600px;
  }
  
  .hero .hero-action {
    width: 100%;
  }
  
  .hero .hero-action h1 {
    font-size: 1.4em !important;
    text-align: center;
  }
   .breadcrumb_item:not(:last-child):after {
    border-style: solid;
    border-width: .10em .10em 0 0;
    content: '/';
    display: inline-block;
    height: .20em;
    margin: 0 .20em;
    position: relative;
    transform: rotate(45deg);
    vertical-align: middle;
    width: .20em;
  }
  .breadcrumb_item {
    display: inline-block;
  }

{%- endstyle -%}
  

{% schema %}
{
    "name": "Custom Subpage Hero",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "header",
            "content": "Section Settings"
        },  
        {
            "id": "video-hero",
            "type": "url",
            "label": "Video Hero"
        },
        {
            "id": "banner-text",
            "type": "text",
            "label": "Banner Text",
            "default": "DELICIOUS FOOD"
        }
    ],
    "blocks": [
        {
            "type": "item_social", 
			"name": "Social Item",
            "limit": 5,
            "settings": [
                {
                    "type": "text",
                    "id": "social_label",
                    "default": "Facebook",
                    "label": "Red Social"
                },
                {
                    "type": "url",
                    "id": "social_link",
                    "label": "Social Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom Subpage Hero"
        }
    ]
}
{% endschema %}
  <section class="my-section hero section-{{ section.id }}-padding section-{{ section.id }}">
    
        <video autoplay="autoplay" class="video-background" loop="loop" muted playsinline="playsinline"
            src="{{ section.settings.video-hero }}"></video>
        <div class="hero-action">
            <div class="text">
                <h1 class="first-text">
                  
                  {% if template.name == "search" %}
                  	Search
                  {% else %}
                  {{ page_title }}
                  {% endif %}
              
                  <!-- BREADCUMBS  -->
                  <nav aria-label="breadcrumb w-100 ">
                  <ol class="breadcrumb bg-transparent text-primary-small ">
                    
               
                  
                  {%- unless template == 'index'or template == '404' -%}
                  {%- assign t = template | split: '.' | first -%}
                    
                      <li class="breadcrumb_item">
                        <a href="{{routes.root}}">Home</a>
                      </li>
                      {%- case t -%}
                        {%- when 'page' -%}
                          <li class="breadcrumb_item">
                             <a href="{{ page.url }}" aria-current="page">  {{ page.title }}</a>
                          </li>
                        {%- when 'product' -%}
                          {%- if collection.url -%}
                            <li class="breadcrumb_item">
                              {{ collection.title | link_to: collection.url }}
                            </li>
                          {%- endif -%}
                          <li class="breadcrumb_item">
                            <a href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
                          </li>
                        {%- when 'collection' and collection.handle -%}
                          {%- if current_tags -%}
                            <li class="breadcrumb_item">
                              {{ collection.title | link_to: collection.url }}
                            </li>
                            <li class="breadcrumb_item">
                              {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
                              <a href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
                            </li>
                          {%- else -%}
                            <li class="breadcrumb_item">
                              <a href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
                            </li>
                          {%- endif -%}
                        {%- when 'blog' -%}
                          {%- if current_tags -%}
                            <li class="breadcrumb_item">
                              {{ blog.title | link_to: blog.url }}
                            </li>
                            <li class="breadcrumb_item">
                              {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
                              <a  href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
                            </li>
                          {%- else -%}
                            <li class="breadcrumb_item">
                              <a href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
                            </li>
                          {%- endif -%}
                        {%- when 'article' -%}
                          <li class="breadcrumb_item">
                            {{ blog.title | link_to: blog.url }}
                          </li>
                          <li class="breadcrumb_item">
                            <a href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
                          </li>
                    	{%- when 'search' -%}
                          <li class="breadcrumb_item">
                            <a href="{{ request.path }}" aria-current="page">Search</a>
                          </li>
                    
                    
                    
                        {%- else -%}
                          <li class="breadcrumb_item">
                            <a href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
                          </li>
                      {%- endcase -%}
                    </ol>
                  </nav>
                  {%- endunless -%}
                  
                  
                 </ol>
            	</nav>
                  <!-- BREADCUMBS END -->
                  
                  
              </h1>
            </div>
        </div>
    
        <div class="social-bar">
            <h2 class="large-text">{{ section.settings.banner-text }}</h2>
            
            <ul>
                {% for block in section.blocks %}
                    {% if block.type == "item_social" %}
                <li><a target="_blank"
                        href="{{block.settings.social_link}}">{{ block.settings.social_label }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
       
        </div>      
  </section>
