{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  
footer {
  margin-top: 100px;
  font-family: "Kanit";
}

@media (max-width: 767px) {
  footer li {
    text-align: center;
  }
}

.my-logo {
  width: 100px;
  height: 100px;
  background-image: url({{section.settings.logo | img_url: "master"}}) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
}

footer a:hover {
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  color: #FF9900;
}

footer a:hover {
  color: #FF9900;
}

footer .copyright {
  background-color: black;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

footer .copyright span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 16px;
}

@media (max-width: 576px) {
  footer .copyright span {
    text-align: center;
    padding: 5px;
  }
}

@media (max-width: 576px) {
  footer .copyright {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer h2 {
  font-family: "Poppins-Bold";
  font-size: 0.9em;
  color: #FF9900;
}

@media (max-width: 768px) {
  footer a {
    word-break: break-all;
  }
}

footer i {
  font-size: 1em;
  margin-right: 8px;
}

footer li a {
  font-size: 0.75em;
}

.container-more-footer ul {
  list-style: none;
}

.container-more-footer ul i {
  font-size: 1em;
}

.container-quick-links ul {
  list-style: none;
}

.container-quick-links ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .my-logo {
  width: 200px;
  height: 200px;
}

@media (max-width: 768px) {
  footer .my-logo {
    width: 200px;
    height: 200px;
  }
}







{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding my-section container-fluid m-0 p-0 d-flex flex-wrap bg-footer text-white">
  <div class="row w-100 py-5 m-0">

    {% if section.settings.logo %}
      <div class="col-md-4 col-12 ">
          <div class="row justify-content-center">
              <div class="my-logo"> </div>
          </div>
          
          <div class="row justify-content-center">
            {% for block in section.blocks %}
              {% if block.type == "social_links" %}
              <a class="px-2" href="{{block.settings.url}}" target="_blank">
                  <i class="bx {{block.settings.icon}}"></i>
              </a>
            {% endif %}
          {% endfor %}
          </div>

      </div>
    {% endif %}

      {% for block in section.blocks %}
        {% if block.type == 'quick_links' %}
      <div class="col-md-3 col-12 container-quick-links d-md-block d-flex justify-content-center">
          <div class="container-menu-footer pt-3">
              <h2 class="text-md-left text-center">{{block.settings.heading}}</h2>
              <ul class="quick-links">
                
              {% for link in block.settings.menu %}
                    <li>
                        <a href="{{link.url}}">{{link.title}}</a>
                    </li>
              {% endfor %}
            </ul>
          </div>
      </div>
        {% endif %}
      {% endfor %}

      <div class="col-md-5 col-12 container-more-footer pt-3 d-md-block d-flex justify-content-center">
          <div class="container-menu-footer">
              <h2 class="text-md-left text-center">More Information</h2>
              <ul>
                {% for block in section.blocks %}
                  {% if block.type == 'more_information' %}
                  <li class="d-flex pr-md-5 pt-3 justify-content-center justify-content-md-start  align-items-center">
                    <i class="bx fa {{ block.settings.icon }}"></i>
                    <a target="_blank" href="{{ block.settings.url }}">
                          {{ block.settings.label }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              </ul>
          </div>
      </div>

  </div>
  <div class="copyright row m-0 justify-content-around align-items-center ">
      <span>Copyright © 2022 All rights reserved | This Website Was Designed And Developed by</span>
      <a href="https://josesilvera.com/" target="_blank"> <img class="logoSilvera" alt="author page logo"
              src="{{ "silvera.png" | asset_url }}"></a>
  </div>
</footer>

{% schema %}
{
	"name": "t:sections.footer.name",
	"blocks": [{
			"type": "quick_links",
			"name": "Quick Links",
      "limit": 1,
			"settings": [{
					"type": "text",
					"id": "heading",
					"default": "Quick links",
					"label": "t:sections.footer.blocks.link_list.settings.heading.label",
					"info": "t:sections.footer.blocks.link_list.settings.heading.info"
				},
				{
					"type": "link_list",
					"id": "menu",
					"default": "footer",
					"label": "t:sections.footer.blocks.link_list.settings.menu.label",
					"info": "t:sections.footer.blocks.link_list.settings.menu.info"
				}
			]
		},
		{
			"type": "more_information",
			"name": "More Information",
			"limit": 4,
			"settings": [{
					"type": "url",
					"id": "url",
					"label": "Link"
				},
				{
					"type": "text",
					"id": "label",
					"label": "label"
				},
				{
					"type": "text",
					"id": "icon",
					"label": "Boxi Icon or Font Awesome Icon"
				}
			]
		},
		{
			"type": "social_links",
			"name": "Social Links",
			"limit": 5,
			"settings": [{
					"type": "text",
					"id": "icon",
					"label": "Boxi Icon"
				},
				{
					"type": "url",
					"id": "url",
					"label": "Link"
				}
			]
		}
	],
	"settings": [{
			"type": "image_picker",
			"id": "logo",
			"label": "select your logo"

		},
		{
			"type": "color_background",
			"id": "background_color",
			"label": "Background Footer"
		},
		{
			"type": "header",
			"content": "t:sections.all.spacing"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.footer.settings.margin_top.label",
			"default": 0
		},
		{
			"type": "header",
			"content": "t:sections.all.padding.section_padding_heading"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_top",
			"default": 36
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.padding_bottom",
			"default": 36
		}
	]
}
{% endschema %}
